<body>

        <h1 style="text-align: center;">Good Driver Incentive Program</h1>
    
        <p style="font-size:30px" style ="text-align: center">Please select user role</p>
    
        <div>
            <button style="font-size:20px;margin:auto;display: block;" type="submit" (click)="onSignInAdmin()">Admin</button>
        </div>
        <div>
            <button style="font-size:20px;margin:auto;display: block;" type="submit" (click)="onSignInDriver()">Driver</button>
        </div>
        <div>
            <button style="font-size:20px;margin:auto;display: block;" type="submit" (click)="onSignInSponsor()">Sponsor</button>
        </div>
    
    
</body>