<body>
        <div>
                <button  style="font-size:20px;margin: auto;display: block;position: absolute; top:0;right:0;" type="submit" (click)="onLogout()">Logout</button>
            </div>
        <div align="center" class="main-content">
            <div class="container mt-7">
                <!-- Info -->
                <h2 class="mb-5">Create New Admin Account</h2>
                <div class="row">
                    <div class="col-xl-8 m-auto order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                    </div>
                                </div>
                            </div>
                            <div  class="card-body">
                                <form>
                                    <h6 class="heading-small text-muted mb-4">User information</h6>
                                    <div class="pl-lg-4">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-adminID">AdminId</label>
                                                <input type="adminId" [(ngModel)]="admin.adminId" placeholder="adminId" name="adminId" class="form-control" id="adminId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-lg-4">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email address</label>
                                                <input type="email" [(ngModel)]="admin.email" placeholder="email" name="email" class="form-control" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-first-name">First name</label>
                                                <input type="firstname" [(ngModel)]="admin.firstname" placeholder="firstname" name="firstname" class="form-control" id="firstname">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last-name">Last name</label>
                                                <input type="lastname" [(ngModel)]="admin.lastname" placeholder="lastname" name="lastname" class="form-control" id="lastname">
        
                                                
        
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label"
                                                                   for="input-address">Password</label>
                                                                   <input type="password" [(ngModel)]="admin.password" placeholder="password" name="password" class="form-control" id="password">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="padding-top-x5">
                                                                <div class="padding-top-x5">
                                                                    <div class="text-center">
                                                                        <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)="onSubmit()">Save & Continue</button>
                                                                    </div>
                                                                </div>
                                                            </div>
        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="padding-top-x5">
                                        <div class="padding-top-x5">
                                            <div class="text-center">
                                                <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)="onCancel()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </body>
