<body>
        <div>
                <button  style="font-size:20px;margin: auto;display: block;position: absolute; top:0;right:0;" type="submit" (click)="onLogout()">Logout</button>
            </div>
        <div align="center" class="main-content">
            <div class="container mt-7">
                <!-- Info -->
                <h2 class="mb-5">Edit First name</h2>
                <div class="row">
                    <div class="col-xl-8 m-auto order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                    </div>
                                </div>
                            </div>
                            <div  class="card-body">
                                <form>
                                    
                                    <div class="pl-lg-4">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-firstname"> First name: </label>
                                                <input type="text" [(ngModel)]="firstname" placeholder="First name" name="firstname" class="form-control" id="first name">
                                            </div>
                                        </div>
                                    </div>
                                   
                                                <div class="row">
                                                        <div class="padding-top-x5">
                                                                <div class="padding-top-x5">
                                                                    <div class="text-center">
                                                                        <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)=onSubmit()>Save & Continue</button>
                                                                    </div>
                                                                </div>
                                                            </div>
        
                                                </div>
                                            
                                        
                                    
                                    <div class="padding-top-x5">
                                        <div class="padding-top-x5">
                                            <div class="text-center">
                                                <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)="onCancel()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </body>
