<body align="center">
        <div class="container">
          <div class="row">
                  <div class="rover-primary-col rover-single-col col-center
                      col-md-10 col-lg-7 margin-top-x5">
                      <div class="rover-primary-content-block">
                          <header class="rover-page-header">
                               <h1 class="rover-header-title"></h1>
                               <h3 class="rover-header-subtitle"></h3>
                          </header>
                          <div class="new-design js-alerts-container"></div>
                          <form method="POST" name="account_info_form" enctype="multipart/form-data"
                          class="js-account-info-form" novalidate="novalidate">
                              <div class="account-profile-section-header margin-bottom-x5">
                                   <h3>Create New Driver Account</h3>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <div class="account-profile-section-header">
                                           <h3>Personal Information</h3>
                                          <p class="body-text text-muted">We won't share or display this on your profile.</p>
                                      </div>
                                      <input type="hidden" name="csrfmiddlewaretoken" value="6gh5xe1GqY51AbV6fIwpY4AYfUHD2TDP"
                                      />
                                      <div class="row">
                                          <div class="col-12">
                                                <div class="form-group">
                                                  <label class="form-control-label" for="input-driverid">Driver ID</label>
                                                  <input type="driverID" [(ngModel)]="driver.driverID" placeholder="driverID" name="driverID" class="form-control" id="driverID">
                                                </div>
                                                <div class="form-group">
                                                  <label class="form-control-label" for="input-email">Email</label>
                                                  <input type="email" [(ngModel)]="driver.email" placeholder="email" name="email" class="form-control" id="email">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-first-name">First name</label>
                                                    <input type="firstname" [(ngModel)]="driver.firstname" placeholder="firstname" name="firstname" class="form-control" id="firstname">
                                                </div>  
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-last-name">Last name</label>
                                                    <input type="lastname" [(ngModel)]="driver.lastname" placeholder="lastname" name="lastname" class="form-control" id="lastname">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-password">Password</label>
                                                    <input type="password" [(ngModel)]="driver.password" placeholder="password" name="password" class="form-control" id="password">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-address">Address</label>
                                                    <input type="address" [(ngModel)]="driver.address" placeholder="address" name="address" class="form-control" id="address">
                                                </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="padding-top-x5">
                                  <div class="padding-top-x5">
                                      <div class="text-center">
                                          <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)="onSubmit()">Save & Continue</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
          </div>
