<div align="center" class="col-md-6">
        <h2 class="text-center">Create Driver</h2>
      <form>  
        <div class="form-group">
          <label for="driverID">DriverID:</label>
          <input [(ngModel)]="driver.driverID" placeholder="driverID" name="driverID" class="form-control" id="driverID">
        </div>
      
        <div class="form-group">
          <label for="email">Email:</label>
          <input [(ngModel)]="driver.email" placeholder="email" name="email" class="form-control" id="email">
        </div>
    
        <div class="form-group">
          <label for="firstname">Frist Name:</label>
         <input [(ngModel)]="driver.firstname" placeholder="First Name" name="firstname" class="form-control" id="firstname">
        </div>
    
        <div class="form-group">
            <label for="lastname">Last Name:</label>
           <input [(ngModel)]="driver.lastname" placeholder="Last Name" name="lastname" class="form-control" id="lastname">
        </div>
    
        <div class="form-group">
            <label for="password">Password:</label>
           <input [(ngModel)]="driver.password" placeholder="Password" name="password" class="form-control" id="password">
        </div>
    
        <div class="form-group">
            <label for="address">Address:</label>
           <input [(ngModel)]="driver.address" placeholder="Address" name="address" class="form-control" id="address">
        </div>
      
        <button type="button" class="btn btn-success" (click)="onSubmit()">Create</button>
      </form>
      </div>