
<body>
<div class="container">
    <h1>Good Driver Incentive Program</h1>

    <p style="font-size:30px">Log in</p>


    <div class="input-group mb-3">
        <input id="inputEmail" type="text" class="form-control" aria-label="Email" placeholder="Email" 
               aria-describedby="Email" required
               autofocus [(ngModel)]="email">
    </div>

    <div class="input-group mb-3">
        <input id="inputPassword" type="text" class="form-control" placeholder="Password" aria-label="Password" 
               aria-describedby="Password" [(ngModel)]="password">
    </div>

    <br>
    <div><a href="reset.html">Forgot password?</a></div>
    <br>

    <div>
        <button style="font-size:20px" type="submit" (click)="onSubmit()">Sign in</button>
    </div>
</div>
</body>

