<body>

        <div>
                <button  style="font-size:20px;margin: auto;display: block;position: absolute; top:0;right:0;" type="submit" (click)="onLogout()">Logout</button>
            </div>

    <h1 style="text-align: center;">Good Driver Incentive Program</h1>

    <p style="font-size:30px;text-align: center;">Driver Homepage</p>

    <div>
        <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onViewProfile()">View Profile</button>
    </div>

    <div>
            <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onManageAccount()">Manage Account</button>
    </div>

    <div>
            <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onShop()">Shop</button>

    </div>

    <div>
        <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onApplySponsor()">Appy For Sponsor</button>
    </div>
</body>
