<body>

    <h1 style="text-align: center;">Good Driver Incentive Program</h1>

    <p style="font-size:30px;text-align: center;">Driver Homepage</p>

    <div>
        <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onViewProfile()">View Profile</button>
    </div>

    <div>
            <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onManageAccount()">Manage Account</button>
    </div>

    <div>
            <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onShop()">Shop</button>

    </div>

    <div>
        <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onViewCart()">View Cart</button>
    </div>

    <div>
        <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onViewOrders()">View Orders</button>
    </div>
</body>
