
<body>
        <div class="container">
            <h1 style="text-align: center">Reset Password</h1>
        
            <p style="font-size:30px" style="text-align: center">Please enter your associated email and your new password</p>
        
            <div align=center>
                    <label class="form-control-label" for="input-type">User Type</label>
                    <select name="demo" id="#" [(ngModel)]="type">
                        <option selected="selected" value="Admin">Admin</option>
                        <option value="Sponsor">Sponsor</option>
                        <option value="Driver">Driver</option>
                    </select>
                </div>
        
            <div class="input-group mb-3">
            
                <input style="margin: auto;display: block;" id="inputEmail" type="email" class="form-control" aria-label="Email" placeholder="Email" 
                       aria-describedby="Email" required
                       autofocus [(ngModel)]="email">
            </div>
        
            <div class="input-group mb-3" >
                <input  style="margin: auto;display: block;" id="inputPassword" type="password" class="form-control" placeholder="Password" aria-label="Password" 
                       aria-describedby="Password" [(ngModel)]="password">
            </div>

            <div class="input-group mb-3" >
                    <input  style="margin: auto;display: block;" id="inputConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" aria-label="Password" 
                           aria-describedby="Password" [(ngModel)]="confirmpassword">
                </div>
        

        
            <div align=center>
                    <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)=onSubmit()>Save & Continue</button>
            </div>
        </div>
        </body>
        
        