<body>

    <h1 style="text-align: center;">Good Driver Incentive Program</h1>

    <p style="font-size:30px;text-align: center;">Admin Homepage</p>

    <div>
        <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onHyperLink()">Create Driver</button>
    </div>

    <div>

            <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onAdminHyperLink()">Create Admin</button>
    </div>

    <div>
            <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onSponsorHyperLink()">Create Sponsor</button>

    </div>

    <div>
        <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onViewDrivers()">View Drivers</button>
    </div>

 
    <div>
            <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onProfile()">View/Update Profile</button>

    </div>

    

</body>