<body>
                <div>
                                <button  style="font-size:20px;margin: auto;display: block;position: absolute; top:0;right:0;" type="submit" (click)="onLogout()">Logout</button>
                            </div>

        <h1 style="text-align: center;">Good Driver Incentive Program</h1>
    
        <p style="font-size:30px;text-align: center;">Sponsor Homepage</p>
    
        <div>
    
                <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onManageAccount()">Manage Account</button>
        </div>

        <div>
    
                <button style="font-size:20px;margin: auto;display: block;" type="submit" (click)="onViewCatalog()">View Catalog</button>
        </div>
    </body>