<div align=center class="col-md-6">

    <div>
        <button  style="font-size:20px;margin: auto;display: block;position: absolute; top:0;right:0;" type="submit" (click)="onLogout()">Logout</button>
    </div>

    <h2>List of Admins</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th>AdminID</th>
        <th>Email</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let admin of admins">
        <td>{{admin.adminID}}</td>
        <td>{{admin.email}}</td>
        <td>{{admin.firstname}}</td>
        <td>{{admin.lastname}}</td>
        <td>{{admin.password}}</td>
        <td><button class="btn btn-danger" (click)="deleteAdmin(admin)"> Delete User</button></td>
      </tr>
      </tbody>
    </table>

    <div class="padding-top-x5">
        <div class="padding-top-x5">
            <div class="text-center">
                <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)="onCancel()">Go Back</button>
            </div>
        </div>
    </div>
</div>
