<body align="center">
    <div class="container">
      <div class="row">
              <div class="rover-primary-col rover-single-col col-center
                  col-md-10 col-lg-7 margin-top-x5">
                  <div class="rover-primary-content-block">
                      <header class="rover-page-header">
                           <h1 class="rover-header-title"></h1>
                           <h3 class="rover-header-subtitle"></h3>
                      </header>
                      <div class="new-design js-alerts-container"></div>
                      <form method="POST" name="account_info_form" enctype="multipart/form-data"
                      class="js-account-info-form" novalidate="novalidate">
                          <div class="account-profile-section-header margin-bottom-x5">
                               <h3>Register User</h3>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="account-profile-section-header">
                                       <h3>Personal Information</h3>
                                      <p class="body-text text-muted">We won't share or display this on your profile.</p>
                                  </div>
                                  <input type="hidden" name="csrfmiddlewaretoken" value="6gh5xe1GqY51AbV6fIwpY4AYfUHD2TDP"
                                  />
                                  <div class="row">
                                      <div class="col-12">
                                            <div>
                                                <label class="form-control-label" for="input-type">User Type</label>
                                                <select name="demo" id="#" [(ngModel)]="type">
                                                    <option selected="selected" value="Admin">Admin</option>
                                                    <option value="Sponsor">Sponsor</option>
                                                    <option value="Driver">Driver</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-firstname">Firstname</label>
                                                <input type="firstname" [(ngModel)]="firstname" placeholder="firstname" name="firstname" class="form-control" id="firstname">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-lastname">Lastname</label>
                                                <input type="lastname" [(ngModel)]="lastname" placeholder="lastname" name="lastname" class="form-control" id="lastname">
                                            </div>
                                            <div class="form-group">
                                              <label class="form-control-label" for="input-email">Email</label>
                                              <input type="email" [(ngModel)]="email" placeholder="email" name="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-password">Password</label>
                                                <input type="password" [(ngModel)]="password" placeholder="password" name="password" class="form-control" id="password">
                                            </div>
                                        
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="padding-top-x5">
                              <div class="padding-top-x5">
                                  <div class="text-center">
                                      <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)="onSignUp()">Sign Up</button>
                                  </div>
                              </div>
                          </div>
                          <div class="padding-top-x5">
                            <div class="padding-top-x5">
                                <div class="text-center">
                                    <button type="submit" class="rover-btn btn-block-xs rover-btn-primary js-wizard-next-section" (click)="onCancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                      </form>
                  </div>
              </div>
      </div>
      </div>
      </body>
